<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

<div class="container-text-1">
	<h1 id="gallery-photos">
		Galeria de Fotos
	</h1>

	<p id="explore-events">
		Fotos do nosso espaço
	</p>
</div>

<div class="container-gallery">
		  <div class="box img1"><img src="[resources:image(1).png]" alt="Photo 1" /></div>
		  <div class="box img2"><img src="[resources:image(2).png]" alt="Photo 2" /></div>
		  <div class="box img3"><img src="[resources:image(3).png]" alt="Photo 3" /></div>
		  <div class="box img4"><img src="[resources:image(4).png]" alt="Photo 4" /></div>
		  <div class="box img5"><img src="[resources:image(5).png]" alt="Photo 5" /></div>
		  <div class="box img6"><img src="[resources:image(6).png]" alt="Photo 6" /></div>
		  <div class="box img7"><img src="[resources:image(7).png]" alt="Photo 7" /></div>
		  <div class="box img8"><img src="[resources:image(8).png]" alt="Photo 8" /></div>
</div>