<link rel="stylesheet" href="styles.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
	rel="stylesheet"
/>

<div class="fragment_1203">
	<nav class="navbar">
		<div class="navbar-container">
			<a class="navbar-logo" href="#">
				<img alt="Logo" src="[resources:logo-SDG (2).svg]" />
			</a>

			<ul class="navbar-menu">
				<li class="navbar-item dropdown-nav">
					<div>
						<button id="menuButton">Menu</button>
						<img
							id="chevron-down"
							src="[resources:chevron-down (2).svg]"
						/>
					</div>
					<div id="dropdown-nav-links" class="dropdown-nav-content">
						<a
							href="#"
							data-lfr-editable-id="nav-menu-link1"
							data-lfr-editable-type="link"
							>Home</a
						>
						<a
							href="#"
							data-lfr-editable-id="nav-menu-link2"
							data-lfr-editable-type="link"
							>Eventos</a
						>
						<a
							href="#"
							data-lfr-editable-id="nav-menu-link3"
							data-lfr-editable-type="link"
							>Insituto</a
						>
						<a
							href="#"
							data-lfr-editable-id="nav-menu-link4"
							data-lfr-editable-type="link"
							>Café</a
						>
					</div>
				</li>
				<li class="navbar-item">
					<a
						id="home"
						href="#"
						data-lfr-editable-id="nav-link1"
						data-lfr-editable-type="link"
						>Home</a
					>
				</li>
				<li class="navbar-item">
					<a
						href="#"
						data-lfr-editable-id="nav-link2"
						data-lfr-editable-type="link"
						>Eventos</a
					>
				</li>
				<li class="navbar-item">
					<a
						href="#"
						data-lfr-editable-id="nav-link3"
						data-lfr-editable-type="link"
						>Instituto</a
					>
				</li>
				<li class="navbar-item">
					<a
						href="#"
						data-lfr-editable-id="nav-link4"
						data-lfr-editable-type="link"
						>Café</a
					>
				</li>
			</ul>
		</div>

		<div class="cta-container">
			<a
				class="navbar-button"
				data-lfr-editable-id="nav-button-link"
				data-lfr-editable-type="link"
			>
				<span class="button-nav-text">Clique Aqui</span>
			</a>
		</div>
	</nav>
</div>
