<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
	rel="stylesheet"
/>

<div class="page">
	<header>
		<h1 class="title">O que nós estudamos</h1>
	</header>
	<main>
		<div class="card">
			<img src="[resources:world.svg]" alt="world-icon" />
			<h2>Cosmovisão Reformada</h2>
			<p>
				Estudamos como enxergar toda a realidade à luz das Escrituras,
				entendendo o senhorio de Cristo sobre todas as áreas da vida.
			</p>
		</div>
		<div class="card">
			<img src="[resources:user.svg]" alt="user-icon" />
			<h2>Masculinidade Bíblica</h2>
			<p>
				Refletimos sobre o papel do homem segundo a Bíblia, com ênfase
				em responsabilidade, liderança e serviço com amor.
			</p>
		</div>
		<div class="card">
			<img src="[resources:compass.svg]" alt="compass-icon" />
			<h2>Liderança</h2>
			<p>
				Aprendemos princípios bíblicos de liderança, com foco em
				caráter, sabedoria e serviço ao próximo.
			</p>
		</div>

		<div class="card">
			<!-- assets/imageName.svg -->
			<img src="[resources:cross.svg]" alt="cross-icon" />
			<h2>Hermenêutica Bíblica</h2>
			<p>
				Desenvolvemos habilidades para interpretar corretamente as
				Escrituras, respeitando o contexto e a intenção do autor
				bíblico.
			</p>
		</div>
		<div class="card">
			<img src="[resources:church.svg]" alt="church-icon" />
			<h2>Eclesiologia</h2>
			<p>
				Estudamos a natureza, missão e estrutura da Igreja à luz da
				Bíblia, compreendendo seu papel no mundo e na edificação dos
				santos.
			</p>
		</div>
		<div class="card">
			<img src="[resources:bible.svg]" alt="bible-icon" />
			<h2>Bibliologia</h2>
			<p>
				Aprofundamos nosso entendimento sobre a inspiração, autoridade e
				suficiência das Escrituras como Palavra de Deus.
			</p>
		</div>
	</main>
</div>
