<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<div class="page">											
			<header>
				<h1 class="title">O que nós estudamos</h1>
				<p class="text">Lorem ipsum dolor sit amet consectetur. Enim accumsan cras dictum facilisi nunc malesuada in. Urna et vulputate semper tincidunt non cursus. Accumsan eget malesuada vitae elementum ornare enim. Nascetur tempor nulla ut diam eu. <br>
					<br>
				Lorem ipsum dolor sit amet consectetur. Enim accumsan cras dictum facilisi nunc malesuada in. Urna et vulputate semper tincidunt non cursus.</p>
			</header>
			<main>
				<div class="first-row">
					<div class="card">
						<img src="./assets/compass.svg" alt="world-icon" />
						<h2>Cosmovisão Reformada</h2>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Magnam sapiente et laudantium minima ex dolore
							quo quia fugiat repudiandae distinctio, cumque ea.
							Aliquid, dignissimos accusantium.
						</p>
					</div>
					<div class="card">
						<img src="./assets/user.svg" alt="user-icon" />
						<h2>Masculinidade Bíblica</h2>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Magnam sapiente et laudantium minima ex dolore
							quo quia fugiat repudiandae distinctio, cumque ea.
							Aliquid, dignissimos accusantium.
						</p>
					</div>
					<div class="card">
						<img src="./assets/Icon.svg" alt="world-icon" />
						<h2>Liderança</h2>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Magnam sapiente et laudantium minima ex dolore
							quo quia fugiat repudiandae distinctio, cumque ea.
							Aliquid, dignissimos accusantium.
						</p>
					</div>
				</div>
				<div class="second-row">
					<div class="card">
						<img src="./assets/cross.svg" alt="world-icon" />
						<h2>Hermenêutica Bíblica</h2>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Magnam sapiente et laudantium minima ex dolore
							quo quia fugiat repudiandae distinctio, cumque ea.
							Aliquid, dignissimos accusantium.
						</p>
					</div>
					<div class="card">
						<img src="./assets/church.svg" alt="world-icon" />
						<h2>Eclesiologia</h2>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Magnam sapiente et laudantium minima ex dolore
							quo quia fugiat repudiandae distinctio, cumque ea.
							Aliquid, dignissimos accusantium.
						</p>
					</div>
					<div class="card">
						<img src="./assets/bible.svg" alt="world-icon" />
						<h2>Bibliologia</h2>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Magnam sapiente et laudantium minima ex dolore
							quo quia fugiat repudiandae distinctio, cumque ea.
							Aliquid, dignissimos accusantium.
						</p>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>
