* {
    box-sizing: border-box;
}

.page {
    font-family: "Inter", sans-serif;
}

.page  main {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
}

header .title {
    color: #093542;
    margin-bottom: 32px;
    font-weight: 600;
    line-height: 36px;
    font-size: 32px;
}

header .text {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #8E8E93;
}


.first-row, .second-row {
    /* border: 1px solid red; */
    display: flex;
    gap: 36px;
    justify-content: center;
    /* flex-wrap: wrap;    */
}


.card {
    width: 280px; /* ou ajuste para caber 3 por linha */
    border: 1px solid #F5F5F5;
    border-radius: 24px;
    padding: 36px;
    background-color: white;
}

.card img {
    width: 36px;
    height: 36px;
}

.card p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #8E8E93;
}

.card h2 {
    font-size: 22px;
    font-weight: 600;

    line-height: 28px;
    color: #093542;
}
