.page {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #f9f9f9;
}

/* page */
.page {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 20px;
}

/* header*/
header {
	text-align: start;
	margin-bottom: 48px;
}

header .title {
	color: #093542;
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;
	letter-spacing: 0%;
	margin-bottom: 20px;
}
/* Cards grid */
main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 96px;
	justify-items: start;
}

/* Cards style*/
.card {
	width: 100%;
	max-width: 424px;
	max-height: 272px;
	border: 1px solid #e5e5e5;
	border-radius: 16px;
	padding: 28px;
	background-color: transparent;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
	transition: transform 0.2s ease;
}

.card:hover {
	transform: translateY(-4px);
}

.card img {
	width: 32px;
	height: 32px;
	margin-bottom: 16px;
}

.card h2 {
	font-size: 22px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0%;
	color: #093542;
	margin-bottom: 12px;
}
.card p {
	background-color: transparent; /* removes any inherited background*/
	font-size: 14px;
	color: #8e8e93;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
}
