<div class="fragment-1222">
	<div class="footer-top-1222">
		<div class="footer-left-1222">
			<div class="address-logo-1222">
				<img
					data-lfr-editable-id="logo-img"
					data-lfr-editable-type="image"
					alt="logo-solideogloria"
					src="[resources:logo-SDG (2).svg]"
				/>
			</div>
			<div class="address-text-1222">
				<h3
					data-lfr-editable-id="address-title"
					data-lfr-editable-type="text"
				>
					Endereço:
				</h3>
				<p
					data-lfr-editable-id="address-text"
					data-lfr-editable-type="rich-text"
				>
					Projeto Soli Deo Gloria - Espaço Monte Moriah<br />
					Alameda Pau Ferro, 835 Guabiraba, Recife-PE 54789-770<br />
					<a
						href="https://maps.app.goo.gl/hNU9RcEsiixEz1ev7"
						target="_blank"
						>(Seguir Google Maps)</a
					>
				</p>
			</div>
			<div class="contact-1222">
				<h3
					data-lfr-editable-id="contact-title"
					data-lfr-editable-type="text"
				>
					Contato:
				</h3>
				<p>
					<a
						data-lfr-editable-id="contact-link"
						data-lfr-editable-type="link"
						href="mailto:hello@projetosolideogloria.com"
						>hello@projetosolideogloria.com</a
					>
				</p>
			</div>
			<div class="social-icons-1222">
				<a href="#"
					><img
						data-lfr-editable-id="social-icon-1"
						data-lfr-editable-type="image"
						src="[resources:facebook (2).svg]"
						alt="Facebook"
				/></a>
				<a href="#"
					><img
						data-lfr-editable-id="social-icon-2"
						data-lfr-editable-type="image"
						src="[resources:instagram (2).svg]"
						alt="Instagram"
				/></a>
				<a href="#"
					><img
						data-lfr-editable-id="social-icon-3"
						data-lfr-editable-type="image"
						src="[resources:youtube (2).svg]"
						alt="YouTube"
				/></a>
			</div>
		</div>
		<div class="footer-right-1222">
			<div id="column-left">
				<ul>
					<li>
						<a
							data-lfr-editable-id="left-link-1"
							data-lfr-editable-type="link"
							href="#"
							>Eventos</a
						>
					</li>
					<li>
						<a
							data-lfr-editable-id="left-link-2"
							data-lfr-editable-type="link"
							href="#"
							>Aluguel</a
						>
					</li>
					<li>
						<a
							data-lfr-editable-id="left-link-3"
							data-lfr-editable-type="link"
							href="#"
							>Blog</a
						>
					</li>
				</ul>
			</div>
			<div id="column-right">
				<ul>
					<li>
						<a
							data-lfr-editable-id="right-link-1"
							data-lfr-editable-type="link"
							href="#"
							>Contato</a
						>
					</li>
					<li>
						<a
							data-lfr-editable-id="right-link-2"
							data-lfr-editable-type="link"
							href="#"
							>FAQs</a
						>
					</li>
					<li>
						<a
							data-lfr-editable-id="right-link-3"
							data-lfr-editable-type="link"
							href="#"
							>Termos</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom-1222">
		<p>&copy; <span id="year-copy">2025</span> Projeto Soli Deo Gloria</p>
		<ul>
			<li>
				<a href="web/soli-deo-gloria/politica_privacidade"
					>Política de Privacidade</a
				>
			</li>
			<li>
				<a href="web/soli-deo-gloria/termos_sevico"
					>Termos de serviço</a
				>
			</li>
			<li>
				<a href="web/soli-deo-gloria/cookies"
					>Configurações de cookies</a
				>
			</li>
		</ul>
	</div>
</div>
