<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

<div class="fragment_1203">
<nav class="navbar">
<div class="navbar-container">
	<a class="navbar-logo" href="#">
	<img alt="Logo" src="[resources:logo-SDG.svg]" />
	</a>

	<ul class="navbar-menu">
	<li class="navbar-item">
		<a href="#" data-lfr-editable-id="01-home" data-lfr-editable-type="link">Home<img src="[resources:chevron-down.svg]" /></a>
	  </li>
	  <li class="navbar-item"><a href="#" data-lfr-editable-id="01-link" data-lfr-editable-type="link">Eventos</a></li>
	  <li class="navbar-item"><a href="#" data-lfr-editable-id="02-link" data-lfr-editable-type="link">Instituto</a></li>
	  <li class="navbar-item"><a href="#" data-lfr-editable-id="03-link" data-lfr-editable-type="link">Café</a></li>
	</ul>
</div>

<div class="cta-container">
	<a href="#" class="navbar-button">Fale conosco</a>
</div>
</nav>
</div>