<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
	rel="stylesheet"
/>
<link rel="stylesheet" href="styles.css" />

<div class="fragment-professional">
	<main>
		<header>
			<h1 class="title">Ensino profissional</h1>
            <p class="p-one">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                earum nam exercitationem at voluptatum veniam dolorum impedit in qui
                deserunt, id minima incidunt!
            </p>
            <p class="p-two">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                veritatis libero quos tempore sunt.
            </p>
		</header>
		<section>
			<img
				src=[resources:turma05Professional.png]
				alt="turma05Professional"
			/>
            <p>Turma 05 - Instituto SDG</p>
		</section>
	</main>
</div>
