<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
	rel="stylesheet"
/>
<link rel="stylesheet" href="styles.css" />

<div class="what-we-do">
	<main>
		<header>
			<h1>O que nós fazemos</h1>
			<p>
				Em parceria com a Liferay, uma empresa de tecnologia com sede em
				Recife, estabelecemos um Instituto de Tecnologia e Teologia onde
				<b
					>20 jovens se envolvem em estudos em tempo integral ao longo
					do ano.</b
				>
			</p>
			<p>
				Este programa inovador vai além da educação convencional,
				oferecendo uma abordagem holística que integra
				<b
					>treinamento teológico com habilidades práticas para a
					vida.</b
				>
			</p>
		</header>
		<section>
			<img
				src="[resources:turma04CBrian.png]"
				alt="turma05Professional"
			/>
			<p>Turma 04 - Instituto SDG</p>
		</section>
	</main>
</div>
