<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


<div class="container-text-1">
	<h1 data-lfr-editable-id="gallery-text" data-lfr-editable-type="text" id="gallery-photos">
Confira os alunos que passaram pelo Instituto	</h1>

	<p data-lfr-editable-id="gallery-subtext" data-lfr-editable-type="text" id="explore-events">
Confira clicando nas imagens	</p>
</div>

<div class="container-gallery">
  <div class="box img1">
    <a href="https://youtu.be/qB6ASealh-Y?si=itCWcgamPbnHjhyX" target="_blank">
      <img data-lfr-editable-id="image1" data-lfr-editable-type="image" src="[resources:turma01.png]" alt="Photo 1" />
      <div class="overlay-text">TURMA 01</div>
    </a>
  </div>

  <div class="box img2">
    <a href="https://youtu.be/dDycLf0F9tc?si=-Did2-oT6zWKtInn" target="_blank">
      <img data-lfr-editable-id="image2" data-lfr-editable-type="image" src="[resources:turma02.png]" alt="Photo 2" />
      <div class="overlay-text">TURMA 02</div>
    </a>
  </div>

  <div class="box img3">
    <a href="https://youtu.be/EBS4oC3WTWc?si=8somipp2bc9_aTpd" target="_blank">
      <img data-lfr-editable-id="image3" data-lfr-editable-type="image" src="[resources:turma03.png]" alt="Photo 3" />
      <div class="overlay-text">TURMA 03</div>
    </a>
  </div>

  <div class="box img4">
    <a href="https://youtu.be/iy7uDyw0sdQ?si=Rz_ZLDUG2fMiSit4" target="_blank">
      <img data-lfr-editable-id="image4" data-lfr-editable-type="image" src="[resources:turma04.png]" alt="Photo 4" />
      <div class="overlay-text">TURMA 04</div>
    </a>
  </div>

  <div class="box img5">
    <a href="https://youtu.be/oJmt-CV2YCU?si=B27ILlvINeF-L-cA" target="_blank">
      <img data-lfr-editable-id="image5" data-lfr-editable-type="image" src="[resources:turma05.png]" alt="Photo 5" />
      <div class="overlay-text">TURMA 05</div>
    </a>
  </div>
</div>